.test{
    width:400px;
    background:{
        image:url(../imgs/bgimg.jpg);
        color:silver;
        repeat:no-repeat;
        position:10px 100%;
    }
    padding:10px;
    margin:{
        top:10px;
        bottom:10px;
    }
    border:1px solid;
}
.myFont{
    font:normal small-caps 900 monospace;
    text-indent:4em;
    //padding-left:4em;
    text-align:justify;
    margin:{
        left:10px;
        right:10px;
        top:0;
        bottom:-50px;
    }

}